.App {
    width: 456px;
    height: 596px;
    border: 2px solid gray;
    font-family: 'Roboto';
    display: flex;
    flex-wrap: wrap;
}

button {
    border: 1px solid gray;
    margin: 0;
    font-size: 3rem;
    font-family: 'Roboto';
    height: 95px;    
}